body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fffddf;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin:0;
    padding:0;
}
/*Header**/
header {
    background: #116832;
    color: #ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
    font-family: 'Vesper Libre', serif;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
   float: right;
   padding-right: 300px;
   padding-top: 15px;
}

header nav ul li {
    margin: 20px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

/*Showcase*/
#showcase {
    min-height: 400px;
    background: url('./images/pumpkinpatch.jpg') no-repeat 0 -1100px;
    text-align: center;
    color:#ffffff;
    text-shadow: 4px 2px 4px #000000;
    font-family: 'Vesper Libre', serif;
}

#showcase h1 {
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:30px;
}

/*Newsletter*/

.newsletter {
    margin: ;
    padding-left: 15rem;
    padding-right: 20rem;
    background-color: rgb(241, 197, 131);
    font: 1 rem 'Fira Sans', sans-serif;
    border: 5px solid green;
}

.newsletter h1 {
    margin: .5rem;
    padding-left: 10rem;
    font-size: 2rem;
}

.newsletter #newsbox {
    margin-top: 20px;
}



/*footer*/
footer {
    text-align: center;
}